# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# Distribution
build/
dist/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Type checker
.mypy_cache/

# Ruff
.ruff_cache/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
